{% extends "base.html" %}


{% block content %}
    {% if blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}

        <ul>
            {% for blog in blogs %}
            <a href="/blog?title={{blog.title}}&body={{blog.body}}">
                <h2>{{blog.title}}</h2>
                </a>
                <ul>
                    <li>
                        <p>{{blog.body}}</p>
                    </li>    
                </ul>
                
            {% endfor %}
        </ul>

    {% endif %}
{% endblock %}
