{% extends "base.html" %}


{% block content %}
    {% if blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}

        <ul>
            {% for blog in blogs %}
            <a href="/blog?id={{blog.id}}">
                <h2>{{blog.title}}</h2>
                </a>
                <ul>
                    <li>
                        <h4>{{blog.body}}</h4>
                    </li>    
                    <p>Written by: 
                            <a href="/blog?user={{blog.owner.id}}">
                            {{blog.owner.username}}
                            </a>
                    </p>
                </ul>
                
            {% endfor %}
        </ul>

    {% endif %}
{% endblock %}
