{% extends "base.html" %}

{% block content %}
    
{{error}}
<table><tr><td><h1>Add a new post</h1>
    <form method='post' action='/newpost'></td></tr>
        <tr><td><label>
            Title:
            <input type="text" name='title' value='{{blog_title}}'/>
        </label></td></tr>
        <tr><td><label>
            Body:
            <textarea rows="10" cols="50" name='body'>{{blog_body}}</textarea>
        </label></td></tr>
        <tr><td><input type="submit" value='Add Entry' /></td></tr></table>
    </form>

{% endblock %}